@{
    ViewBag.Title = "ShowDishes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<NoTweak.Domain.Dish>

@using System.Web.Mvc;

<h2>Show Dishes</h2>   
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>   
   <div id="divDishList">          
    @Html.Partial("DishList", Model)
</div>
