
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<table>
<tr>
<td>@Model.Name</td>
</tr>
<tr>
<td>@Model.Address</td>
</tr>
<tr>
<td>@Model.Desc</td>
</tr>
</table>

