@model IEnumerable<NoTweak.Domain.Restaurant>
@{
    ViewBag.Title = "Restaurant List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Web.Mvc;

<h2>Restaurant List</h2>   
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>   
   <div id="divRestaurantList">          
    @Html.Partial("RestaurantList", Model)
</div>
