@{
    ViewBag.Title = "Restaurant List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Web.Mvc;

<h2>hi, Stone! U r here now!</h2>
<ul>
@foreach (var restaurant in Model)
{
    <li>
    <a href="/Restaurant/Detail/@restaurant.ID">@restaurant.Name</a>
 </li>
}

</ul>